* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pic1 {
  width: 100%;
  height: 200px;
  background-image: url(image/box1.jpg);
  background-position: center;
  background-size: cover;
}

.pic2 {
  width: 100%;
  height: 200px;
  background-image: url(image/box2.jpg);
  background-position: center;
  background-size: cover;
}

.pic3 {
  width: 100%;
  height: 200px;
  background-image: url(image/box3.jpg);
  background-position: center;
  background-size: cover;
}

.pic4 {
  width: 100%;
  height: 200px;
  background-image: url(image/box4.jpg);
  background-position: center;
  background-size: cover;
}